<header class="absolute top-0 l-0 w-full p-4 bg-slate-50 z-10">
  <h1 class="text-3xl text-gray-900">Angular - Three.js</h1>
  <nav class="flex my-3">
    <a
      [routerLink]="'/basic'"
      [routerLinkActive]="['active']"
      class="px-4 py-2 mr-2 bg-gray-900 text-gray-100 rounded"
      >Basic</a
    >
    <a
      [routerLink]="'/loader'"
      [routerLinkActive]="['active']"
      class="px-4 py-2 mr-2 bg-gray-900 text-gray-100 rounded"
      >Loader</a
    >
    <a
      [routerLink]="'/shaders'"
      [routerLinkActive]="['active']"
      class="px-4 py-2 mr-2 bg-gray-900 text-gray-100 rounded"
      >Shaders</a
    >
  </nav>
</header>

<main class="p-4">
  <router-outlet />
</main>
